.info1{
  display: flex
}
.info2{
  display: flex
}
.addpatient-1{
   padding-right: 100px
}
.addpatient-3{
  padding-left: 100px
  float: left
}
.addpatient-2{
  padding-left: 100px
}
.room{
  padding-right:32px
}
.old{
 padding-right: 26.71px
}
.addpatient-5{
  padding-bottom: 10px
}
.phone{
 padding-right: 28.28px;
}


