{% extends "base.html" %} {% block content %}
<div class="container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1666214280391-8ff5bd3c0bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1666214273506-c2984f1d3301?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
          class="img-fluid"
          alt="..."
        />
      </div>
      <div class="carousel-item active">
        <img
          src="https://images.unsplash.com/photo-1666214280429-d3985e2ef0b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          class="img-fluid"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <form action="/" method="POST">
    <h3>Contact Us</h3>
    <p>
      Please fill out the form below if you would like to book an appointment.
      Alternatively, if you have a general question, please contact us here.
    </p>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="infoPatientName"
        placeholder="Fullname"
        name="fullname"
      />
      <label for="floatingName">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingName"
        placeholder="Email"
        name="email"
      />
      <label for="floatingPassword">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="Address"
        name="address"
      />
      <label for="floatingPassword">Address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="infoPatientPhone"
        placeholder="Phone number"
        name="phoneNumber"
      />
      <label for="floatingInput">Phone number</label>
    </div>

    <div class="form-floating mb-3">
      <select
        class="form-select"
        id="infoPatientGender"
        aria-label="Floating label select example"
        name="gender"
      >
        <option selected>Gender :</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Orther">Orther</option>
      </select>
      <label for="floatingSelect">Choose a gender</label>
    </div>
    <div class="form-floating mb-3">
      <select
        class="form-select"
        id="infoPatientClinic"
        aria-label="Floating label select example"
        name="clinic"
      >
        <option selected>Hospital or Clinic :</option>
        <option value="Trung Tâm Chăm Sóc Lys Clinic">
          Trung Tâm Chăm Sóc Lys Clinic
        </option>
        <option value="Phòng khám chuyên khoa hô hấp Phổi Việt">
          Phòng khám chuyên khoa hô hấp Phổi Việt
        </option>
        <option value="Phòng khám CarePlus Quận 7">
          Phòng khám CarePlus Quận 7
        </option>
        <option value="Trung Tâm Chăm Sóc Lys Clinic">
          Trung Tâm Chăm Sóc Lys Clinic
        </option>
      </select>
      <label for="floatingSelect">Hospital or Clinic</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="date"
      />
      <label for="floatingInput">Preferred Date</label>
    </div>

    <button type="submit" class="btn btn-primary">Book Appointment</button>
  </form>
</div>
{% endblock content %}
